version: '3.8'

services:
  bot:
    build: .
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html
    environment:
      - BOT_TOKEN=your_bot_token_here
      - OWNER_ID=your_owner_id_here
      - REQUEST_GROUP_ID=your_request_group_id_here
      - CHANNEL_IDS=channel_id1,channel_id2
